USE [ParaVolarDWH]
GO
/****** Object:  Schema [dm]    Script Date: 10/12/2025 10:48:33 PM ******/
CREATE SCHEMA [dm]
GO
/****** Object:  Schema [dw]    Script Date: 10/12/2025 10:48:33 PM ******/
CREATE SCHEMA [dw]
GO
/****** Object:  Schema [stg]    Script Date: 10/12/2025 10:48:33 PM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [stg].[FlightsRaw_Dump]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FlightsRaw_Dump](
	[RowID_Dump] [bigint] IDENTITY(1,1) NOT NULL,
	[FlightDate] [varchar](max) NULL,
	[Cancelled] [varchar](max) NULL,
	[Diverted] [varchar](max) NULL,
	[Airline] [varchar](max) NULL,
	[Origin] [varchar](max) NULL,
	[Dest] [varchar](max) NULL,
	[Marketing_Airline_Network] [varchar](max) NULL,
	[Operated_or_Branded_Code_Share_Partners] [varchar](max) NULL,
	[IATA_Code_Marketing_Airline] [varchar](max) NULL,
	[Operating_Airline] [varchar](max) NULL,
	[IATA_Code_Operating_Airline] [varchar](max) NULL,
	[Tail_Number] [varchar](max) NULL,
	[CRSDepTime] [varchar](max) NULL,
	[DepTime] [varchar](max) NULL,
	[DepDelayMinutes] [varchar](max) NULL,
	[DepDelay] [varchar](max) NULL,
	[ArrTime] [varchar](max) NULL,
	[ArrDelayMinutes] [varchar](max) NULL,
	[AirTime] [varchar](max) NULL,
	[CRSElapsedTime] [varchar](max) NULL,
	[ActualElapsedTime] [varchar](max) NULL,
	[Distance] [varchar](max) NULL,
	[Year] [varchar](max) NULL,
	[Quarter] [varchar](max) NULL,
	[Month] [varchar](max) NULL,
	[DayofMonth] [varchar](max) NULL,
	[DayOfWeek] [varchar](max) NULL,
	[DOT_ID_Marketing_Airline] [varchar](max) NULL,
	[Flight_Number_Marketing_Airline] [varchar](max) NULL,
	[DOT_ID_Operating_Airline] [varchar](max) NULL,
	[Flight_Number_Operating_Airline] [varchar](max) NULL,
	[OriginAirportID] [varchar](max) NULL,
	[OriginAirportSeqID] [varchar](max) NULL,
	[OriginCityMarketID] [varchar](max) NULL,
	[OriginCityName] [varchar](max) NULL,
	[OriginState] [varchar](max) NULL,
	[OriginStateFips] [varchar](max) NULL,
	[OriginStateName] [varchar](max) NULL,
	[OriginWac] [varchar](max) NULL,
	[DestAirportID] [varchar](max) NULL,
	[DestAirportSeqID] [varchar](max) NULL,
	[DestCityMarketID] [varchar](max) NULL,
	[DestCityName] [varchar](max) NULL,
	[DestState] [varchar](max) NULL,
	[DestStateFips] [varchar](max) NULL,
	[DestStateName] [varchar](max) NULL,
	[DestWac] [varchar](max) NULL,
	[DepDel15] [varchar](max) NULL,
	[DepartureDelayGroups] [varchar](max) NULL,
	[DepTimeBlk] [varchar](max) NULL,
	[TaxiOut] [varchar](max) NULL,
	[WheelsOff] [varchar](max) NULL,
	[WheelsOn] [varchar](max) NULL,
	[TaxiIn] [varchar](max) NULL,
	[CRSArrTime] [varchar](max) NULL,
	[ArrDelay] [varchar](max) NULL,
	[ArrDel15] [varchar](max) NULL,
	[ArrivalDelayGroups] [varchar](max) NULL,
	[ArrTimeBlk] [varchar](max) NULL,
	[DistanceGroup] [varchar](max) NULL,
	[DivAirportLandings] [varchar](max) NULL,
 CONSTRAINT [PK_FlightsRaw_Dump] PRIMARY KEY CLUSTERED 
(
	[RowID_Dump] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [stg].[v_Flights_FromDump_Typed]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [stg].[v_Flights_FromDump_Typed] AS
SELECT
    d.RowID_Dump,

    /* --- Helpers de limpieza --- */
    TRY_CONVERT(date, NULLIF(LTRIM(RTRIM(d.FlightDate)) ,''), 101)      AS FlightDate,

    CASE WHEN UPPER(LTRIM(RTRIM(d.Cancelled))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.Cancelled))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS Cancelled,

    CASE WHEN UPPER(LTRIM(RTRIM(d.Diverted)))  IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.Diverted)))  IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS Diverted,

    NULLIF(LTRIM(RTRIM(d.Airline)),'')                                   AS Airline,
    NULLIF(LTRIM(RTRIM(d.Origin)),'')                                    AS Origin,
    NULLIF(LTRIM(RTRIM(d.Dest)),'')                                      AS Dest,

    NULLIF(LTRIM(RTRIM(d.Marketing_Airline_Network)),'')                 AS Marketing_Airline_Network,
    NULLIF(LTRIM(RTRIM(d.Operated_or_Branded_Code_Share_Partners)),'')   AS Operated_or_Branded_Code_Share_Partners,

    NULLIF(LTRIM(RTRIM(d.IATA_Code_Marketing_Airline)),'')               AS IATA_Code_Marketing_Airline,
    NULLIF(LTRIM(RTRIM(d.Operating_Airline)),'')                         AS Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.IATA_Code_Operating_Airline)),'')               AS IATA_Code_Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.Tail_Number)),'')                               AS Tail_Number,

    TRY_CONVERT(int,   NULLIF(d.CRSDepTime,''))                          AS CRSDepTime,
    TRY_CONVERT(int,   NULLIF(d.DepTime,''))                             AS DepTime,
    TRY_CONVERT(float, NULLIF(d.DepDelayMinutes,''))                     AS DepDelayMinutes,
    TRY_CONVERT(float, NULLIF(d.DepDelay,''))                            AS DepDelay,

    TRY_CONVERT(int,   NULLIF(d.ArrTime,''))                             AS ArrTime,
    TRY_CONVERT(float, NULLIF(d.ArrDelayMinutes,''))                     AS ArrDelayMinutes,
    TRY_CONVERT(float, NULLIF(d.AirTime,''))                             AS AirTime,
    TRY_CONVERT(float, NULLIF(d.CRSElapsedTime,''))                      AS CRSElapsedTime,
    TRY_CONVERT(float, NULLIF(d.ActualElapsedTime,''))                   AS ActualElapsedTime,
    TRY_CONVERT(float, NULLIF(d.Distance,''))                            AS Distance,

    TRY_CONVERT(int,   NULLIF(d.[Year],''))                              AS [Year],
    TRY_CONVERT(int,   NULLIF(d.[Quarter],''))                           AS [Quarter],
    TRY_CONVERT(int,   NULLIF(d.[Month],''))                             AS [Month],
    TRY_CONVERT(int,   NULLIF(d.DayofMonth,''))                          AS DayofMonth,
    TRY_CONVERT(int,   NULLIF(d.DayOfWeek,''))                           AS DayOfWeek,

    TRY_CONVERT(int,   NULLIF(d.DOT_ID_Marketing_Airline,''))            AS DOT_ID_Marketing_Airline,
    NULLIF(LTRIM(RTRIM(d.Flight_Number_Marketing_Airline)),'')           AS Flight_Number_Marketing_Airline,

    TRY_CONVERT(int,   NULLIF(d.DOT_ID_Operating_Airline,''))            AS DOT_ID_Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.Flight_Number_Operating_Airline)),'')           AS Flight_Number_Operating_Airline,

    TRY_CONVERT(int,   NULLIF(d.OriginAirportID,''))                     AS OriginAirportID,
    TRY_CONVERT(int,   NULLIF(d.OriginAirportSeqID,''))                  AS OriginAirportSeqID,
    TRY_CONVERT(int,   NULLIF(d.OriginCityMarketID,''))                  AS OriginCityMarketID,
    NULLIF(LTRIM(RTRIM(d.OriginCityName)),'')                            AS OriginCityName,
    NULLIF(LTRIM(RTRIM(d.OriginState)),'')                               AS OriginState,
    NULLIF(LTRIM(RTRIM(d.OriginStateFips)),'')                           AS OriginStateFips,
    NULLIF(LTRIM(RTRIM(d.OriginStateName)),'')                           AS OriginStateName,
    TRY_CONVERT(int,   NULLIF(d.OriginWac,''))                           AS OriginWac,

    TRY_CONVERT(int,   NULLIF(d.DestAirportID,''))                       AS DestAirportID,
    TRY_CONVERT(int,   NULLIF(d.DestAirportSeqID,''))                    AS DestAirportSeqID,
    TRY_CONVERT(int,   NULLIF(d.DestCityMarketID,''))                    AS DestCityMarketID,
    NULLIF(LTRIM(RTRIM(d.DestCityName)),'')                              AS DestCityName,
    NULLIF(LTRIM(RTRIM(d.DestState)),'')                                 AS DestState,
    NULLIF(LTRIM(RTRIM(d.DestStateFips)),'')                             AS DestStateFips,
    NULLIF(LTRIM(RTRIM(d.DestStateName)),'')                             AS DestStateName,
    TRY_CONVERT(int,   NULLIF(d.DestWac,''))                             AS DestWac,

    CASE WHEN NULLIF(d.DepDel15,'') IS NULL THEN NULL
         WHEN UPPER(LTRIM(RTRIM(d.DepDel15))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.DepDel15))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS DepDel15,

    NULLIF(TRY_CONVERT(int, d.DepartureDelayGroups), -1)                 AS DepartureDelayGroups,
    NULLIF(LTRIM(RTRIM(d.DepTimeBlk)),'')                                AS DepTimeBlk,
    TRY_CONVERT(float, NULLIF(d.TaxiOut,''))                             AS TaxiOut,
    TRY_CONVERT(int,   NULLIF(d.WheelsOff,''))                           AS WheelsOff,
    TRY_CONVERT(int,   NULLIF(d.WheelsOn,''))                            AS WheelsOn,
    TRY_CONVERT(float, NULLIF(d.TaxiIn,''))                              AS TaxiIn,
    TRY_CONVERT(int,   NULLIF(d.CRSArrTime,''))                          AS CRSArrTime,
    TRY_CONVERT(float, NULLIF(d.ArrDelay,''))                            AS ArrDelay,

    CASE WHEN NULLIF(d.ArrDel15,'') IS NULL THEN NULL
         WHEN UPPER(LTRIM(RTRIM(d.ArrDel15))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.ArrDel15))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS ArrDel15,

    NULLIF(TRY_CONVERT(int, d.ArrivalDelayGroups), -1)                   AS ArrivalDelayGroups,
    NULLIF(LTRIM(RTRIM(d.ArrTimeBlk)),'')                                AS ArrTimeBlk,
    TRY_CONVERT(int,   NULLIF(d.DistanceGroup,''))                       AS DistanceGroup,
    TRY_CONVERT(int,   NULLIF(d.DivAirportLandings,''))                  AS DivAirportLandings
FROM stg.FlightsRaw_Dump d WITH (READUNCOMMITTED);
GO
/****** Object:  Table [dw].[DimAerolinea]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAerolinea](
	[AerolineaKey] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NULL,
	[IATACode] [varchar](10) NULL,
	[DOT_ID] [int] NULL,
	[Network] [nvarchar](120) NULL,
	[EsOperadora] [bit] NOT NULL,
	[IATACode_NN]  AS (isnull([IATACode],'')) PERSISTED NOT NULL,
	[DOT_ID_NN]  AS (isnull([DOT_ID],(0))) PERSISTED NOT NULL,
 CONSTRAINT [PK_DimAerolinea] PRIMARY KEY CLUSTERED 
(
	[AerolineaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimAeropuerto]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAeropuerto](
	[AeropuertoKey] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Ciudad] [nvarchar](120) NULL,
	[Estado] [varchar](10) NULL,
	[EstadoNombre] [nvarchar](120) NULL,
	[WAC] [int] NULL,
 CONSTRAINT [PK_DimAeropuerto] PRIMARY KEY CLUSTERED 
(
	[AeropuertoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimAvion]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAvion](
	[AvionKey] [int] IDENTITY(1,1) NOT NULL,
	[TailNumber] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DimAvion] PRIMARY KEY CLUSTERED 
(
	[AvionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimBloqueTiempo]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimBloqueTiempo](
	[BloqueTiempoKey] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [char](3) NOT NULL,
	[Bloque] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DimBloqueTiempo] PRIMARY KEY CLUSTERED 
(
	[BloqueTiempoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimNetwork]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimNetwork](
	[NetworkKey] [int] IDENTITY(1,1) NOT NULL,
	[MarketingNetwork] [nvarchar](120) NULL,
	[CodeSharePartners] [nvarchar](120) NULL,
	[MarketingNetwork_NN]  AS (isnull([MarketingNetwork],'')) PERSISTED NOT NULL,
	[CodeSharePartners_NN]  AS (isnull([CodeSharePartners],'')) PERSISTED NOT NULL,
 CONSTRAINT [PK_DimNetwork] PRIMARY KEY CLUSTERED 
(
	[NetworkKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimTiempo]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimTiempo](
	[TiempoKey] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Año] [int] NULL,
	[Trimestre] [int] NULL,
	[Mes] [int] NULL,
	[Día] [int] NULL,
	[DiaSemana] [int] NULL,
 CONSTRAINT [PK_DimTiempo] PRIMARY KEY CLUSTERED 
(
	[TiempoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimTiempo_Fecha] UNIQUE NONCLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimVueloNumero]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimVueloNumero](
	[VueloNumeroKey] [int] IDENTITY(1,1) NOT NULL,
	[IATACode] [varchar](10) NULL,
	[FlightNumber] [varchar](10) NULL,
	[EsOperadora] [bit] NOT NULL,
	[IATACode_NN]  AS (isnull([IATACode],'')) PERSISTED NOT NULL,
	[FlightNumber_NN]  AS (isnull([FlightNumber],'')) PERSISTED NOT NULL,
 CONSTRAINT [PK_DimVueloNumero] PRIMARY KEY CLUSTERED 
(
	[VueloNumeroKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[FactVuelos]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[FactVuelos](
	[VueloKey] [int] IDENTITY(1,1) NOT NULL,
	[TiempoKey] [int] NOT NULL,
	[AerolineaMarketingKey] [int] NULL,
	[AerolineaOperadoraKey] [int] NULL,
	[AeropuertoOrigenKey] [int] NOT NULL,
	[AeropuertoDestinoKey] [int] NOT NULL,
	[AvionKey] [int] NULL,
	[BloqueDepKey] [int] NULL,
	[BloqueArrKey] [int] NULL,
	[NetworkKey] [int] NULL,
	[VueloMarketingKey] [int] NULL,
	[VueloOperadoraKey] [int] NULL,
	[Cancelado] [bit] NULL,
	[Desviado] [bit] NULL,
	[RetrasoSalidaMin] [float] NULL,
	[RetrasoLlegadaMin] [float] NULL,
	[TiempoVueloMin] [float] NULL,
	[Distancia] [float] NULL,
	[GrupoDistancia] [int] NULL,
	[GrupoRetrasoSalida] [int] NULL,
	[GrupoRetrasoLlegada] [int] NULL,
	[RetrasoSalida15] [bit] NULL,
	[RetrasoLlegada15] [bit] NULL,
	[DepTimeBlk] [varchar](20) NULL,
	[ArrTimeBlk] [varchar](20) NULL,
 CONSTRAINT [PK_FactVuelos] PRIMARY KEY CLUSTERED 
(
	[VueloKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FlightsRaw]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FlightsRaw](
	[FlightDate] [date] NULL,
	[Cancelled] [bit] NULL,
	[Diverted] [bit] NULL,
	[Airline] [nvarchar](120) NULL,
	[Origin] [varchar](8) NULL,
	[Dest] [varchar](8) NULL,
	[Marketing_Airline_Network] [nvarchar](20) NULL,
	[Operated_or_Branded_Code_Share_Partners] [nvarchar](40) NULL,
	[IATA_Code_Marketing_Airline] [varchar](10) NULL,
	[Operating_Airline] [nvarchar](120) NULL,
	[IATA_Code_Operating_Airline] [varchar](10) NULL,
	[Tail_Number] [varchar](20) NULL,
	[OriginCityName] [nvarchar](80) NULL,
	[OriginState] [varchar](8) NULL,
	[OriginStateName] [nvarchar](40) NULL,
	[DestCityName] [nvarchar](80) NULL,
	[DestState] [varchar](8) NULL,
	[DestStateName] [nvarchar](40) NULL,
	[DepTimeBlk] [varchar](20) NULL,
	[ArrTimeBlk] [varchar](20) NULL,
	[CRSDepTime] [int] NULL,
	[DepTime] [int] NULL,
	[DepDelayMinutes] [int] NULL,
	[DepDelay] [int] NULL,
	[ArrTime] [int] NULL,
	[ArrDelayMinutes] [int] NULL,
	[AirTime] [int] NULL,
	[CRSElapsedTime] [int] NULL,
	[ActualElapsedTime] [int] NULL,
	[Distance] [int] NULL,
	[Year] [smallint] NULL,
	[Quarter] [tinyint] NULL,
	[Month] [tinyint] NULL,
	[DayofMonth] [tinyint] NULL,
	[DayOfWeek] [tinyint] NULL,
	[DOT_ID_Marketing_Airline] [int] NULL,
	[Flight_Number_Marketing_Airline] [int] NULL,
	[DOT_ID_Operating_Airline] [int] NULL,
	[Flight_Number_Operating_Airline] [int] NULL,
	[OriginAirportID] [int] NULL,
	[OriginAirportSeqID] [int] NULL,
	[OriginCityMarketID] [int] NULL,
	[OriginWac] [int] NULL,
	[DestAirportID] [int] NULL,
	[DestAirportSeqID] [int] NULL,
	[DestCityMarketID] [int] NULL,
	[DestWac] [int] NULL,
	[DepDel15] [tinyint] NULL,
	[DepartureDelayGroups] [smallint] NULL,
	[TaxiOut] [int] NULL,
	[WheelsOff] [int] NULL,
	[WheelsOn] [int] NULL,
	[TaxiIn] [int] NULL,
	[CRSArrTime] [int] NULL,
	[ArrDelay] [int] NULL,
	[ArrDel15] [tinyint] NULL,
	[ArrivalDelayGroups] [smallint] NULL,
	[DistanceGroup] [tinyint] NULL,
	[DivAirportLandings] [tinyint] NULL,
	[LoadDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dw].[DimAerolinea] ADD  CONSTRAINT [DF_DimAerolinea_EsOperadora]  DEFAULT ((0)) FOR [EsOperadora]
GO
ALTER TABLE [dw].[DimVueloNumero] ADD  CONSTRAINT [DF_DimVueloNumero_EsOperadora]  DEFAULT ((0)) FOR [EsOperadora]
GO
ALTER TABLE [stg].[FlightsRaw] ADD  DEFAULT (sysdatetime()) FOR [LoadDate]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimAerolinea_Mkt] FOREIGN KEY([AerolineaMarketingKey])
REFERENCES [dw].[DimAerolinea] ([AerolineaKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimAerolinea_Mkt]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimAerolinea_Ope] FOREIGN KEY([AerolineaOperadoraKey])
REFERENCES [dw].[DimAerolinea] ([AerolineaKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimAerolinea_Ope]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimAeropuerto_Des] FOREIGN KEY([AeropuertoDestinoKey])
REFERENCES [dw].[DimAeropuerto] ([AeropuertoKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimAeropuerto_Des]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimAeropuerto_Org] FOREIGN KEY([AeropuertoOrigenKey])
REFERENCES [dw].[DimAeropuerto] ([AeropuertoKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimAeropuerto_Org]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimAvion] FOREIGN KEY([AvionKey])
REFERENCES [dw].[DimAvion] ([AvionKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimAvion]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimBloqueTiempo_Arr] FOREIGN KEY([BloqueArrKey])
REFERENCES [dw].[DimBloqueTiempo] ([BloqueTiempoKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimBloqueTiempo_Arr]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimBloqueTiempo_Dep] FOREIGN KEY([BloqueDepKey])
REFERENCES [dw].[DimBloqueTiempo] ([BloqueTiempoKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimBloqueTiempo_Dep]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimNetwork] FOREIGN KEY([NetworkKey])
REFERENCES [dw].[DimNetwork] ([NetworkKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimNetwork]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimTiempo] FOREIGN KEY([TiempoKey])
REFERENCES [dw].[DimTiempo] ([TiempoKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimTiempo]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimVueloNumero_Mkt] FOREIGN KEY([VueloMarketingKey])
REFERENCES [dw].[DimVueloNumero] ([VueloNumeroKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimVueloNumero_Mkt]
GO
ALTER TABLE [dw].[FactVuelos]  WITH CHECK ADD  CONSTRAINT [FK_FV_DimVueloNumero_Ope] FOREIGN KEY([VueloOperadoraKey])
REFERENCES [dw].[DimVueloNumero] ([VueloNumeroKey])
GO
ALTER TABLE [dw].[FactVuelos] CHECK CONSTRAINT [FK_FV_DimVueloNumero_Ope]
GO
/****** Object:  StoredProcedure [stg].[usp_Load_FlightsRaw_FromDump]    Script Date: 10/12/2025 10:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [stg].[usp_Load_FlightsRaw_FromDump]
  @BatchSize   int = 2000,
  @Verbose     bit = 1,
  @ReportEvery int = 10
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;
  SET DEADLOCK_PRIORITY LOW;

  DECLARE 
      @rows            int         = 1,
      @batch_no        int         = 0,
      @inserted_total  bigint      = 0,
      @msg             nvarchar(4000),
      @t0              datetime2   = SYSUTCDATETIME(),
      @elapsed_sec     int,
      @pendientes      bigint,
      @rows_per_sec    decimal(18,4),
      @eta_min         decimal(18,2);

  IF (@Verbose = 1)
  BEGIN
      SELECT @pendientes = COUNT(*) FROM stg.FlightsRaw_Dump WITH (NOLOCK);
      SET @msg = N'Inicio ' + CONVERT(varchar(19),SYSUTCDATETIME(),120)
               + N' UTC | Pendientes iniciales: ' + FORMAT(@pendientes,'N0')
               + N' | Tamaño de lote: ' + FORMAT(@BatchSize,'N0');
      RAISERROR(@msg, 0, 1) WITH NOWAIT;
  END

  WHILE (@rows > 0)
  BEGIN
    IF OBJECT_ID('tempdb..#keys') IS NOT NULL DROP TABLE #keys;

    SELECT TOP (@BatchSize) RowID_Dump
    INTO #keys
    FROM stg.FlightsRaw_Dump WITH (READPAST)
    ORDER BY RowID_Dump;

    IF NOT EXISTS (SELECT 1 FROM #keys) BREAK;

    BEGIN TRY
      BEGIN TRAN;

      INSERT INTO stg.FlightsRaw WITH (TABLOCK)
      (
        FlightDate, Cancelled, Diverted,
        Airline, Origin, Dest,
        Marketing_Airline_Network, Operated_or_Branded_Code_Share_Partners,
        IATA_Code_Marketing_Airline, Operating_Airline, IATA_Code_Operating_Airline, Tail_Number,
        OriginCityName, OriginState, OriginStateName,
        DestCityName, DestState, DestStateName,
        DepTimeBlk, ArrTimeBlk,
        CRSDepTime, DepTime, DepDelayMinutes, DepDelay,
        ArrTime, ArrDelayMinutes, AirTime, CRSElapsedTime, ActualElapsedTime, Distance,
        Year, Quarter, Month, DayofMonth, DayOfWeek,
        DOT_ID_Marketing_Airline, Flight_Number_Marketing_Airline,
        DOT_ID_Operating_Airline, Flight_Number_Operating_Airline,
        OriginAirportID, OriginAirportSeqID, OriginCityMarketID, OriginWac,
        DestAirportID, DestAirportSeqID, DestCityMarketID, DestWac,
        DepDel15, DepartureDelayGroups, TaxiOut, WheelsOff, WheelsOn, TaxiIn,
        CRSArrTime, ArrDelay, ArrDel15, ArrivalDelayGroups, DistanceGroup, DivAirportLandings
      )
      SELECT
        TRY_CONVERT(date, NULLIF(LTRIM(RTRIM(d.FlightDate)),'')),

        CASE UPPER(LTRIM(RTRIM(d.Cancelled))) WHEN 'TRUE' THEN 1 WHEN '1' THEN 1
             WHEN 'FALSE' THEN 0 WHEN '0' THEN 0 ELSE NULL END,
        CASE UPPER(LTRIM(RTRIM(d.Diverted)))  WHEN 'TRUE' THEN 1 WHEN '1' THEN 1
             WHEN 'FALSE' THEN 0 WHEN '0' THEN 0 ELSE NULL END,

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Airline)),''),240),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Origin)),''),8),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Dest)),''),8),'N/D'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Marketing_Airline_Network)),''),40),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Operated_or_Branded_Code_Share_Partners)),''),80),'Indefinido'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.IATA_Code_Marketing_Airline)),''),10),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Operating_Airline)),''),240),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.IATA_Code_Operating_Airline)),''),10),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Tail_Number)),''),20),'Indefinido'),

        LEFT(LTRIM(RTRIM(REPLACE(REPLACE(ISNULL(NULLIF(d.OriginCityName,''),'Indefinido'),'"',''),CHAR(9),' '))),160),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.OriginState,'"',''),CHAR(9),' '))),8),'N/D'),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.OriginStateName,'"',''),CHAR(9),' '))),80),'Indefinido'),

        LEFT(LTRIM(RTRIM(REPLACE(REPLACE(ISNULL(NULLIF(d.DestCityName,''),'Indefinido'),'"',''),CHAR(9),' '))),160),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.DestState,'"',''),CHAR(9),' '))),8),'N/D'),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.DestStateName,'"',''),CHAR(9),' '))),80),'Indefinido'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.DepTimeBlk)),''),20),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.ArrTimeBlk)),''),20),'Indefinido'),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSDepTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDelayMinutes)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDelay)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDelayMinutes)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.AirTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSElapsedTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ActualElapsedTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Distance)),''))),

        TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Year)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Quarter)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Month)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DayofMonth)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DayOfWeek)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DOT_ID_Marketing_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Flight_Number_Marketing_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DOT_ID_Operating_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Flight_Number_Operating_Airline)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginAirportID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginAirportSeqID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginCityMarketID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginWac)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestAirportID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestAirportSeqID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestCityMarketID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestWac)),''))),

        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDel15)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDel15)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepartureDelayGroups)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepartureDelayGroups)),''))) END,

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.TaxiOut)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.WheelsOff)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.WheelsOn)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.TaxiIn)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSArrTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDelay)),''))),

        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDel15)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDel15)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrivalDelayGroups)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrivalDelayGroups)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DistanceGroup)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DistanceGroup)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DivAirportLandings)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DivAirportLandings)),''))) END
      FROM stg.FlightsRaw_Dump d
      JOIN #keys k ON k.RowID_Dump = d.RowID_Dump
      OPTION (MAXDOP 1);

      SET @rows = @@ROWCOUNT;
      SET @inserted_total += @rows;
      SET @batch_no += 1;

      DELETE d
      FROM stg.FlightsRaw_Dump d
      JOIN #keys k ON k.RowID_Dump = d.RowID_Dump;

      COMMIT;

      IF (@Verbose = 1 AND (@batch_no % @ReportEvery = 0))
      BEGIN
        SELECT @pendientes = COUNT(*) FROM stg.FlightsRaw_Dump WITH (NOLOCK);
        SET @elapsed_sec = DATEDIFF(SECOND, @t0, SYSUTCDATETIME());
        SET @rows_per_sec = CASE WHEN @elapsed_sec = 0 THEN NULL 
                                 ELSE @inserted_total * 1.0 / @elapsed_sec END;
        SET @eta_min = CASE WHEN @rows_per_sec IS NULL OR @rows_per_sec = 0 THEN NULL
                            ELSE (@pendientes / @rows_per_sec) / 60.0 END;

        SET @msg = N'Lote #' + CAST(@batch_no AS nvarchar(20))
                 + N' | Insertadas total: ' + FORMAT(@inserted_total,'N0')
                 + N' | Pendientes: ' + FORMAT(@pendientes,'N0')
                 + N' | Elapsed: ' + CAST(@elapsed_sec AS nvarchar(20)) + N's'
                 + N' | ETA: ' + ISNULL(CAST(@eta_min AS nvarchar(20)) + N' min', N'?');
        RAISERROR(@msg, 0, 1) WITH NOWAIT;
      END
    END TRY
    BEGIN CATCH
      IF XACT_STATE() <> 0 ROLLBACK;
      IF (@Verbose = 1)
      BEGIN
        SET @msg = N'ERROR lote #' + CAST(@batch_no AS nvarchar(20))
                 + N' | ' + CAST(ERROR_NUMBER() AS nvarchar(10))
                 + N' - ' + ERROR_MESSAGE();
        RAISERROR(@msg, 0, 1) WITH NOWAIT;
      END
      WAITFOR DELAY '00:00:02';
      SET @rows = 1; -- seguir
    END CATCH
  END

  IF (@Verbose = 1)
  BEGIN
      SET @elapsed_sec = DATEDIFF(SECOND, @t0, SYSUTCDATETIME());
      SET @msg = N'FIN | Total insertadas: ' + FORMAT(@inserted_total,'N0')
               + N' | Tiempo total: ' + CAST(@elapsed_sec AS nvarchar(20)) + N's';
      RAISERROR(@msg, 0, 1) WITH NOWAIT;
  END
END
GO
