USE [ParaVolarDWH]
GO
/****** Object:  Schema [dm]    Script Date: 10/20/2025 2:45:50 PM ******/
CREATE SCHEMA [dm]
GO
/****** Object:  Schema [dw]    Script Date: 10/20/2025 2:45:50 PM ******/
CREATE SCHEMA [dw]
GO
/****** Object:  Schema [stg]    Script Date: 10/20/2025 2:45:50 PM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  UserDefinedFunction [stg].[fn_ParseDateMulti]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [stg].[fn_ParseDateMulti](@s nvarchar(100))
RETURNS date
AS
BEGIN
  DECLARE @x nvarchar(100)=stg.fn_StripQuotes(@s);
  IF @x IS NULL RETURN NULL;

  -- yyyy-mm-dd, yyyymmdd, mm/dd/yyyy, dd/mm/yyyy, yyyy.mm.dd
  RETURN
    COALESCE(
      TRY_CONVERT(date, @x),              -- ISO o detectables
      TRY_CONVERT(date, @x, 23),          -- yyyy-mm-dd
      TRY_CONVERT(date, @x, 112),         -- yyyymmdd
      TRY_CONVERT(date, @x, 101),         -- mm/dd/yyyy
      TRY_CONVERT(date, @x, 103),         -- dd/mm/yyyy
      TRY_CONVERT(date, @x, 102)          -- yyyy.mm.dd
    );
END;
GO
/****** Object:  UserDefinedFunction [stg].[fn_ParseHHMM]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- (A) Helpers para parsing
CREATE   FUNCTION [stg].[fn_ParseHHMM](@hhmm varchar(20))
RETURNS time(0)
AS
BEGIN
    IF @hhmm IS NULL OR LTRIM(RTRIM(@hhmm)) = '' RETURN NULL;
    DECLARE @v varchar(8) = RIGHT('0000'+REPLACE(@hhmm,':',''),4);
    DECLARE @hh int = TRY_CONVERT(int, LEFT(@v,2));
    DECLARE @mm int = TRY_CONVERT(int, RIGHT(@v,2));
    IF @hh IS NULL OR @mm IS NULL OR @hh NOT BETWEEN 0 AND 23 OR @mm NOT BETWEEN 0 AND 59
        RETURN NULL;
    RETURN TIMEFROMPARTS(@hh, @mm, 0, 0, 0);
END;
GO
/****** Object:  UserDefinedFunction [stg].[fn_StripQuotes]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 0) Helpers robustos */
CREATE   FUNCTION [stg].[fn_StripQuotes](@s nvarchar(max))
RETURNS nvarchar(max)
AS
BEGIN
  IF @s IS NULL RETURN NULL;
  RETURN NULLIF(LTRIM(RTRIM(REPLACE(REPLACE(@s, '"',''), '''',''))), '');
END;
GO
/****** Object:  UserDefinedFunction [stg].[fn_ToBit]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [stg].[fn_ToBit](@v varchar(10))
RETURNS bit
AS
BEGIN
    IF @v IS NULL RETURN 0;
    DECLARE @t varchar(10)=LOWER(LTRIM(RTRIM(@v)));
    RETURN CASE WHEN @t IN ('1','y','yes','true','t') THEN 1 ELSE 0 END;
END;
GO
/****** Object:  Table [stg].[FlightsRaw_Dump]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FlightsRaw_Dump](
	[RowID_Dump] [bigint] IDENTITY(1,1) NOT NULL,
	[FlightDate] [varchar](max) NULL,
	[Cancelled] [varchar](max) NULL,
	[Diverted] [varchar](max) NULL,
	[Airline] [varchar](max) NULL,
	[Origin] [varchar](max) NULL,
	[Dest] [varchar](max) NULL,
	[Marketing_Airline_Network] [varchar](max) NULL,
	[Operated_or_Branded_Code_Share_Partners] [varchar](max) NULL,
	[IATA_Code_Marketing_Airline] [varchar](max) NULL,
	[Operating_Airline] [varchar](max) NULL,
	[IATA_Code_Operating_Airline] [varchar](max) NULL,
	[Tail_Number] [varchar](max) NULL,
	[CRSDepTime] [varchar](max) NULL,
	[DepTime] [varchar](max) NULL,
	[DepDelayMinutes] [varchar](max) NULL,
	[DepDelay] [varchar](max) NULL,
	[ArrTime] [varchar](max) NULL,
	[ArrDelayMinutes] [varchar](max) NULL,
	[AirTime] [varchar](max) NULL,
	[CRSElapsedTime] [varchar](max) NULL,
	[ActualElapsedTime] [varchar](max) NULL,
	[Distance] [varchar](max) NULL,
	[Year] [varchar](max) NULL,
	[Quarter] [varchar](max) NULL,
	[Month] [varchar](max) NULL,
	[DayofMonth] [varchar](max) NULL,
	[DayOfWeek] [varchar](max) NULL,
	[DOT_ID_Marketing_Airline] [varchar](max) NULL,
	[Flight_Number_Marketing_Airline] [varchar](max) NULL,
	[DOT_ID_Operating_Airline] [varchar](max) NULL,
	[Flight_Number_Operating_Airline] [varchar](max) NULL,
	[OriginAirportID] [varchar](max) NULL,
	[OriginAirportSeqID] [varchar](max) NULL,
	[OriginCityMarketID] [varchar](max) NULL,
	[OriginCityName] [varchar](max) NULL,
	[OriginState] [varchar](max) NULL,
	[OriginStateFips] [varchar](max) NULL,
	[OriginStateName] [varchar](max) NULL,
	[OriginWac] [varchar](max) NULL,
	[DestAirportID] [varchar](max) NULL,
	[DestAirportSeqID] [varchar](max) NULL,
	[DestCityMarketID] [varchar](max) NULL,
	[DestCityName] [varchar](max) NULL,
	[DestState] [varchar](max) NULL,
	[DestStateFips] [varchar](max) NULL,
	[DestStateName] [varchar](max) NULL,
	[DestWac] [varchar](max) NULL,
	[DepDel15] [varchar](max) NULL,
	[DepartureDelayGroups] [varchar](max) NULL,
	[DepTimeBlk] [varchar](max) NULL,
	[TaxiOut] [varchar](max) NULL,
	[WheelsOff] [varchar](max) NULL,
	[WheelsOn] [varchar](max) NULL,
	[TaxiIn] [varchar](max) NULL,
	[CRSArrTime] [varchar](max) NULL,
	[ArrDelay] [varchar](max) NULL,
	[ArrDel15] [varchar](max) NULL,
	[ArrivalDelayGroups] [varchar](max) NULL,
	[ArrTimeBlk] [varchar](max) NULL,
	[DistanceGroup] [varchar](max) NULL,
	[DivAirportLandings] [varchar](max) NULL,
 CONSTRAINT [PK_FlightsRaw_Dump] PRIMARY KEY CLUSTERED 
(
	[RowID_Dump] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [stg].[v_Flights_FromDump_Typed]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [stg].[v_Flights_FromDump_Typed] AS
SELECT
    d.RowID_Dump,

    /* --- Helpers de limpieza --- */
    TRY_CONVERT(date, NULLIF(LTRIM(RTRIM(d.FlightDate)) ,''), 101)      AS FlightDate,

    CASE WHEN UPPER(LTRIM(RTRIM(d.Cancelled))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.Cancelled))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS Cancelled,

    CASE WHEN UPPER(LTRIM(RTRIM(d.Diverted)))  IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.Diverted)))  IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS Diverted,

    NULLIF(LTRIM(RTRIM(d.Airline)),'')                                   AS Airline,
    NULLIF(LTRIM(RTRIM(d.Origin)),'')                                    AS Origin,
    NULLIF(LTRIM(RTRIM(d.Dest)),'')                                      AS Dest,

    NULLIF(LTRIM(RTRIM(d.Marketing_Airline_Network)),'')                 AS Marketing_Airline_Network,
    NULLIF(LTRIM(RTRIM(d.Operated_or_Branded_Code_Share_Partners)),'')   AS Operated_or_Branded_Code_Share_Partners,

    NULLIF(LTRIM(RTRIM(d.IATA_Code_Marketing_Airline)),'')               AS IATA_Code_Marketing_Airline,
    NULLIF(LTRIM(RTRIM(d.Operating_Airline)),'')                         AS Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.IATA_Code_Operating_Airline)),'')               AS IATA_Code_Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.Tail_Number)),'')                               AS Tail_Number,

    TRY_CONVERT(int,   NULLIF(d.CRSDepTime,''))                          AS CRSDepTime,
    TRY_CONVERT(int,   NULLIF(d.DepTime,''))                             AS DepTime,
    TRY_CONVERT(float, NULLIF(d.DepDelayMinutes,''))                     AS DepDelayMinutes,
    TRY_CONVERT(float, NULLIF(d.DepDelay,''))                            AS DepDelay,

    TRY_CONVERT(int,   NULLIF(d.ArrTime,''))                             AS ArrTime,
    TRY_CONVERT(float, NULLIF(d.ArrDelayMinutes,''))                     AS ArrDelayMinutes,
    TRY_CONVERT(float, NULLIF(d.AirTime,''))                             AS AirTime,
    TRY_CONVERT(float, NULLIF(d.CRSElapsedTime,''))                      AS CRSElapsedTime,
    TRY_CONVERT(float, NULLIF(d.ActualElapsedTime,''))                   AS ActualElapsedTime,
    TRY_CONVERT(float, NULLIF(d.Distance,''))                            AS Distance,

    TRY_CONVERT(int,   NULLIF(d.[Year],''))                              AS [Year],
    TRY_CONVERT(int,   NULLIF(d.[Quarter],''))                           AS [Quarter],
    TRY_CONVERT(int,   NULLIF(d.[Month],''))                             AS [Month],
    TRY_CONVERT(int,   NULLIF(d.DayofMonth,''))                          AS DayofMonth,
    TRY_CONVERT(int,   NULLIF(d.DayOfWeek,''))                           AS DayOfWeek,

    TRY_CONVERT(int,   NULLIF(d.DOT_ID_Marketing_Airline,''))            AS DOT_ID_Marketing_Airline,
    NULLIF(LTRIM(RTRIM(d.Flight_Number_Marketing_Airline)),'')           AS Flight_Number_Marketing_Airline,

    TRY_CONVERT(int,   NULLIF(d.DOT_ID_Operating_Airline,''))            AS DOT_ID_Operating_Airline,
    NULLIF(LTRIM(RTRIM(d.Flight_Number_Operating_Airline)),'')           AS Flight_Number_Operating_Airline,

    TRY_CONVERT(int,   NULLIF(d.OriginAirportID,''))                     AS OriginAirportID,
    TRY_CONVERT(int,   NULLIF(d.OriginAirportSeqID,''))                  AS OriginAirportSeqID,
    TRY_CONVERT(int,   NULLIF(d.OriginCityMarketID,''))                  AS OriginCityMarketID,
    NULLIF(LTRIM(RTRIM(d.OriginCityName)),'')                            AS OriginCityName,
    NULLIF(LTRIM(RTRIM(d.OriginState)),'')                               AS OriginState,
    NULLIF(LTRIM(RTRIM(d.OriginStateFips)),'')                           AS OriginStateFips,
    NULLIF(LTRIM(RTRIM(d.OriginStateName)),'')                           AS OriginStateName,
    TRY_CONVERT(int,   NULLIF(d.OriginWac,''))                           AS OriginWac,

    TRY_CONVERT(int,   NULLIF(d.DestAirportID,''))                       AS DestAirportID,
    TRY_CONVERT(int,   NULLIF(d.DestAirportSeqID,''))                    AS DestAirportSeqID,
    TRY_CONVERT(int,   NULLIF(d.DestCityMarketID,''))                    AS DestCityMarketID,
    NULLIF(LTRIM(RTRIM(d.DestCityName)),'')                              AS DestCityName,
    NULLIF(LTRIM(RTRIM(d.DestState)),'')                                 AS DestState,
    NULLIF(LTRIM(RTRIM(d.DestStateFips)),'')                             AS DestStateFips,
    NULLIF(LTRIM(RTRIM(d.DestStateName)),'')                             AS DestStateName,
    TRY_CONVERT(int,   NULLIF(d.DestWac,''))                             AS DestWac,

    CASE WHEN NULLIF(d.DepDel15,'') IS NULL THEN NULL
         WHEN UPPER(LTRIM(RTRIM(d.DepDel15))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.DepDel15))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS DepDel15,

    NULLIF(TRY_CONVERT(int, d.DepartureDelayGroups), -1)                 AS DepartureDelayGroups,
    NULLIF(LTRIM(RTRIM(d.DepTimeBlk)),'')                                AS DepTimeBlk,
    TRY_CONVERT(float, NULLIF(d.TaxiOut,''))                             AS TaxiOut,
    TRY_CONVERT(int,   NULLIF(d.WheelsOff,''))                           AS WheelsOff,
    TRY_CONVERT(int,   NULLIF(d.WheelsOn,''))                            AS WheelsOn,
    TRY_CONVERT(float, NULLIF(d.TaxiIn,''))                              AS TaxiIn,
    TRY_CONVERT(int,   NULLIF(d.CRSArrTime,''))                          AS CRSArrTime,
    TRY_CONVERT(float, NULLIF(d.ArrDelay,''))                            AS ArrDelay,

    CASE WHEN NULLIF(d.ArrDel15,'') IS NULL THEN NULL
         WHEN UPPER(LTRIM(RTRIM(d.ArrDel15))) IN ('1','TRUE','T','Y') THEN 1
         WHEN UPPER(LTRIM(RTRIM(d.ArrDel15))) IN ('0','FALSE','F','N') THEN 0
         ELSE NULL END AS ArrDel15,

    NULLIF(TRY_CONVERT(int, d.ArrivalDelayGroups), -1)                   AS ArrivalDelayGroups,
    NULLIF(LTRIM(RTRIM(d.ArrTimeBlk)),'')                                AS ArrTimeBlk,
    TRY_CONVERT(int,   NULLIF(d.DistanceGroup,''))                       AS DistanceGroup,
    TRY_CONVERT(int,   NULLIF(d.DivAirportLandings,''))                  AS DivAirportLandings
FROM stg.FlightsRaw_Dump d WITH (READUNCOMMITTED);
GO
/****** Object:  Table [dw].[DimAerolinea]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAerolinea](
	[IdAerolinea] [int] IDENTITY(1,1) NOT NULL,
	[DOT_ID_Marketing] [int] NULL,
	[DOT_ID_Operating] [int] NULL,
	[IATA_Code_Marketing] [nvarchar](10) NULL,
	[IATA_Code_Operating] [nvarchar](10) NULL,
	[Airline] [nvarchar](200) NULL,
	[Operating_Airline] [nvarchar](200) NULL,
	[Marketing_Airline_Network] [nvarchar](200) NULL,
	[Operated_or_Branded_Code_Share_Partners] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAerolinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimAeropuerto]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAeropuerto](
	[IdAeropuerto] [int] IDENTITY(1,1) NOT NULL,
	[AirportType] [nvarchar](10) NULL,
	[AirportCode] [nvarchar](10) NULL,
	[AirportID] [int] NULL,
	[AirportSeqID] [int] NULL,
	[CityMarketID] [int] NULL,
	[CityName] [nvarchar](200) NULL,
	[State] [nvarchar](10) NULL,
	[StateFips] [nvarchar](10) NULL,
	[StateName] [nvarchar](100) NULL,
	[Wac] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAeropuerto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimAvion]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimAvion](
	[IdAvion] [int] IDENTITY(1,1) NOT NULL,
	[Tail_Number] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAvion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimBloqueTiempo]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimBloqueTiempo](
	[IdBloqueTiempo] [int] IDENTITY(1,1) NOT NULL,
	[DepTimeBlk] [nvarchar](max) NULL,
	[ArrTimeBlk] [nvarchar](max) NULL,
	[CRSDepTime] [varchar](max) NULL,
	[CRSArrTime] [varchar](max) NULL,
	[DepTime] [varchar](max) NULL,
	[ArrTime] [varchar](max) NULL,
	[WheelsOff] [varchar](max) NULL,
	[WheelsOn] [varchar](max) NULL,
	[TaxiOut] [varchar](max) NULL,
	[TaxiIn] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBloqueTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimNetwork]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimNetwork](
	[IdNetwork] [int] IDENTITY(1,1) NOT NULL,
	[Marketing_Airline_Network] [nvarchar](200) NULL,
	[Operated_or_Branded_Code_Share_Partners] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNetwork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimTiempo]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimTiempo](
	[IdTiempo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Año] [int] NULL,
	[Trimestre] [int] NULL,
	[Mes] [int] NULL,
	[Dia] [int] NULL,
	[DiaSemana] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DimVueloNumero]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DimVueloNumero](
	[IdVueloNumero] [int] IDENTITY(1,1) NOT NULL,
	[Flight_Number_Marketing] [nvarchar](20) NULL,
	[Flight_Number_Operating] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVueloNumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[FactVuelos]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[FactVuelos](
	[IdFactVuelo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTiempo] [int] NULL,
	[IdAerolinea] [int] NULL,
	[IdAeropuertoOrigen] [int] NULL,
	[IdAeropuertoDestino] [int] NULL,
	[IdAvion] [int] NULL,
	[IdBloqueTiempo] [int] NULL,
	[IdNetwork] [int] NULL,
	[IdVueloNumero] [int] NULL,
	[Cancelled] [bit] NULL,
	[Diverted] [bit] NULL,
	[DepDelayMinutes] [decimal](10, 1) NULL,
	[DepDelay] [decimal](10, 1) NULL,
	[ArrDelayMinutes] [decimal](10, 1) NULL,
	[ArrDelay] [decimal](10, 1) NULL,
	[AirTime] [decimal](10, 1) NULL,
	[CRSElapsedTime] [decimal](10, 1) NULL,
	[ActualElapsedTime] [decimal](10, 1) NULL,
	[Distance] [decimal](10, 1) NULL,
	[DepDel15] [nvarchar](20) NULL,
	[ArrDel15] [nvarchar](20) NULL,
	[DepartureDelayGroups] [nvarchar](50) NULL,
	[ArrivalDelayGroups] [nvarchar](50) NULL,
	[DistanceGroup] [nvarchar](50) NULL,
	[DivAirportLandings] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactVuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FlightsRaw]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FlightsRaw](
	[RowID] [bigint] IDENTITY(1,1) NOT NULL,
	[FlightDate] [date] NULL,
	[Cancelled] [bit] NULL,
	[Diverted] [bit] NULL,
	[Airline] [nvarchar](max) NULL,
	[Origin] [nvarchar](max) NULL,
	[Dest] [nvarchar](max) NULL,
	[Marketing_Airline_Network] [nvarchar](max) NULL,
	[Operated_or_Branded_Code_Share_Partners] [nvarchar](max) NULL,
	[IATA_Code_Marketing_Airline] [nvarchar](max) NULL,
	[Operating_Airline] [nvarchar](max) NULL,
	[IATA_Code_Operating_Airline] [nvarchar](max) NULL,
	[Tail_Number] [nvarchar](max) NULL,
	[CRSDepTime] [varchar](max) NULL,
	[DepTime] [varchar](max) NULL,
	[DepDelayMinutes] [decimal](10, 1) NULL,
	[DepDelay] [decimal](10, 1) NULL,
	[ArrTime] [varchar](max) NULL,
	[ArrDelayMinutes] [decimal](10, 1) NULL,
	[AirTime] [decimal](10, 1) NULL,
	[CRSElapsedTime] [decimal](10, 1) NULL,
	[ActualElapsedTime] [decimal](10, 1) NULL,
	[Distance] [varchar](max) NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[DayofMonth] [int] NULL,
	[DayOfWeek] [int] NULL,
	[DOT_ID_Marketing_Airline] [int] NULL,
	[Flight_Number_Marketing_Airline] [nvarchar](10) NULL,
	[DOT_ID_Operating_Airline] [int] NULL,
	[Flight_Number_Operating_Airline] [nvarchar](10) NULL,
	[OriginAirportID] [int] NULL,
	[OriginAirportSeqID] [int] NULL,
	[OriginCityMarketID] [int] NULL,
	[OriginCityName] [nvarchar](max) NULL,
	[OriginState] [nvarchar](max) NULL,
	[OriginStateFips] [nvarchar](max) NULL,
	[OriginStateName] [nvarchar](max) NULL,
	[OriginWac] [varchar](max) NULL,
	[DestAirportID] [int] NULL,
	[DestAirportSeqID] [int] NULL,
	[DestCityMarketID] [int] NULL,
	[DestCityName] [nvarchar](max) NULL,
	[DestState] [nvarchar](max) NULL,
	[DestStateFips] [nvarchar](max) NULL,
	[DestStateName] [nvarchar](max) NULL,
	[DestWac] [int] NULL,
	[DepDel15] [nvarchar](max) NULL,
	[DepartureDelayGroups] [nvarchar](max) NULL,
	[DepTimeBlk] [nvarchar](max) NULL,
	[TaxiOut] [varchar](max) NULL,
	[WheelsOff] [varchar](max) NULL,
	[WheelsOn] [varchar](max) NULL,
	[TaxiIn] [varchar](max) NULL,
	[CRSArrTime] [varchar](max) NULL,
	[ArrDelay] [decimal](10, 1) NULL,
	[ArrDel15] [nvarchar](max) NULL,
	[ArrivalDelayGroups] [nvarchar](max) NULL,
	[ArrTimeBlk] [nvarchar](max) NULL,
	[DistanceGroup] [nvarchar](max) NULL,
	[DivAirportLandings] [nvarchar](30) NULL,
 CONSTRAINT [PK_FlightsRaw] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdAerolinea])
REFERENCES [dw].[DimAerolinea] ([IdAerolinea])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdAeropuertoOrigen])
REFERENCES [dw].[DimAeropuerto] ([IdAeropuerto])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdAeropuertoDestino])
REFERENCES [dw].[DimAeropuerto] ([IdAeropuerto])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdAvion])
REFERENCES [dw].[DimAvion] ([IdAvion])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdBloqueTiempo])
REFERENCES [dw].[DimBloqueTiempo] ([IdBloqueTiempo])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdNetwork])
REFERENCES [dw].[DimNetwork] ([IdNetwork])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdTiempo])
REFERENCES [dw].[DimTiempo] ([IdTiempo])
GO
ALTER TABLE [dw].[FactVuelos]  WITH NOCHECK ADD FOREIGN KEY([IdVueloNumero])
REFERENCES [dw].[DimVueloNumero] ([IdVueloNumero])
GO
/****** Object:  StoredProcedure [stg].[usp_Load_FlightsRaw_FromDump]    Script Date: 10/20/2025 2:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [stg].[usp_Load_FlightsRaw_FromDump]
  @BatchSize   int = 2000,
  @Verbose     bit = 1,
  @ReportEvery int = 10
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;
  SET DEADLOCK_PRIORITY LOW;

  DECLARE 
      @rows            int         = 1,
      @batch_no        int         = 0,
      @inserted_total  bigint      = 0,
      @msg             nvarchar(4000),
      @t0              datetime2   = SYSUTCDATETIME(),
      @elapsed_sec     int,
      @pendientes      bigint,
      @rows_per_sec    decimal(18,4),
      @eta_min         decimal(18,2);

  IF (@Verbose = 1)
  BEGIN
      SELECT @pendientes = COUNT(*) FROM stg.FlightsRaw_Dump WITH (NOLOCK);
      SET @msg = N'Inicio ' + CONVERT(varchar(19),SYSUTCDATETIME(),120)
               + N' UTC | Pendientes iniciales: ' + FORMAT(@pendientes,'N0')
               + N' | Tamaño de lote: ' + FORMAT(@BatchSize,'N0');
      RAISERROR(@msg, 0, 1) WITH NOWAIT;
  END

  WHILE (@rows > 0)
  BEGIN
    IF OBJECT_ID('tempdb..#keys') IS NOT NULL DROP TABLE #keys;

    SELECT TOP (@BatchSize) RowID_Dump
    INTO #keys
    FROM stg.FlightsRaw_Dump WITH (READPAST)
    ORDER BY RowID_Dump;

    IF NOT EXISTS (SELECT 1 FROM #keys) BREAK;

    BEGIN TRY
      BEGIN TRAN;

      INSERT INTO stg.FlightsRaw WITH (TABLOCK)
      (
        FlightDate, Cancelled, Diverted,
        Airline, Origin, Dest,
        Marketing_Airline_Network, Operated_or_Branded_Code_Share_Partners,
        IATA_Code_Marketing_Airline, Operating_Airline, IATA_Code_Operating_Airline, Tail_Number,
        OriginCityName, OriginState, OriginStateName,
        DestCityName, DestState, DestStateName,
        DepTimeBlk, ArrTimeBlk,
        CRSDepTime, DepTime, DepDelayMinutes, DepDelay,
        ArrTime, ArrDelayMinutes, AirTime, CRSElapsedTime, ActualElapsedTime, Distance,
        Year, Quarter, Month, DayofMonth, DayOfWeek,
        DOT_ID_Marketing_Airline, Flight_Number_Marketing_Airline,
        DOT_ID_Operating_Airline, Flight_Number_Operating_Airline,
        OriginAirportID, OriginAirportSeqID, OriginCityMarketID, OriginWac,
        DestAirportID, DestAirportSeqID, DestCityMarketID, DestWac,
        DepDel15, DepartureDelayGroups, TaxiOut, WheelsOff, WheelsOn, TaxiIn,
        CRSArrTime, ArrDelay, ArrDel15, ArrivalDelayGroups, DistanceGroup, DivAirportLandings
      )
      SELECT
        TRY_CONVERT(date, NULLIF(LTRIM(RTRIM(d.FlightDate)),'')),

        CASE UPPER(LTRIM(RTRIM(d.Cancelled))) WHEN 'TRUE' THEN 1 WHEN '1' THEN 1
             WHEN 'FALSE' THEN 0 WHEN '0' THEN 0 ELSE NULL END,
        CASE UPPER(LTRIM(RTRIM(d.Diverted)))  WHEN 'TRUE' THEN 1 WHEN '1' THEN 1
             WHEN 'FALSE' THEN 0 WHEN '0' THEN 0 ELSE NULL END,

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Airline)),''),240),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Origin)),''),8),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Dest)),''),8),'N/D'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Marketing_Airline_Network)),''),40),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Operated_or_Branded_Code_Share_Partners)),''),80),'Indefinido'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.IATA_Code_Marketing_Airline)),''),10),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Operating_Airline)),''),240),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.IATA_Code_Operating_Airline)),''),10),'N/D'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.Tail_Number)),''),20),'Indefinido'),

        LEFT(LTRIM(RTRIM(REPLACE(REPLACE(ISNULL(NULLIF(d.OriginCityName,''),'Indefinido'),'"',''),CHAR(9),' '))),160),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.OriginState,'"',''),CHAR(9),' '))),8),'N/D'),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.OriginStateName,'"',''),CHAR(9),' '))),80),'Indefinido'),

        LEFT(LTRIM(RTRIM(REPLACE(REPLACE(ISNULL(NULLIF(d.DestCityName,''),'Indefinido'),'"',''),CHAR(9),' '))),160),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.DestState,'"',''),CHAR(9),' '))),8),'N/D'),
        ISNULL(LEFT(LTRIM(RTRIM(REPLACE(REPLACE(d.DestStateName,'"',''),CHAR(9),' '))),80),'Indefinido'),

        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.DepTimeBlk)),''),20),'Indefinido'),
        ISNULL(LEFT(NULLIF(LTRIM(RTRIM(d.ArrTimeBlk)),''),20),'Indefinido'),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSDepTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDelayMinutes)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDelay)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDelayMinutes)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.AirTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSElapsedTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ActualElapsedTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Distance)),''))),

        TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Year)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Quarter)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Month)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DayofMonth)),''))),
        TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DayOfWeek)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DOT_ID_Marketing_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Flight_Number_Marketing_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DOT_ID_Operating_Airline)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.Flight_Number_Operating_Airline)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginAirportID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginAirportSeqID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginCityMarketID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.OriginWac)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestAirportID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestAirportSeqID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestCityMarketID)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DestWac)),''))),

        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDel15)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepDel15)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepartureDelayGroups)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DepartureDelayGroups)),''))) END,

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.TaxiOut)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.WheelsOff)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.WheelsOn)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.TaxiIn)),''))),

        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.CRSArrTime)),''))),
        TRY_CONVERT(int, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDelay)),''))),

        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDel15)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrDel15)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrivalDelayGroups)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(smallint, TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.ArrivalDelayGroups)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DistanceGroup)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DistanceGroup)),''))) END,
        CASE WHEN TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DivAirportLandings)),'')) < 0 THEN NULL
             ELSE TRY_CONVERT(tinyint , TRY_CONVERT(float, NULLIF(LTRIM(RTRIM(d.DivAirportLandings)),''))) END
      FROM stg.FlightsRaw_Dump d
      JOIN #keys k ON k.RowID_Dump = d.RowID_Dump
      OPTION (MAXDOP 1);

      SET @rows = @@ROWCOUNT;
      SET @inserted_total += @rows;
      SET @batch_no += 1;

      DELETE d
      FROM stg.FlightsRaw_Dump d
      JOIN #keys k ON k.RowID_Dump = d.RowID_Dump;

      COMMIT;

      IF (@Verbose = 1 AND (@batch_no % @ReportEvery = 0))
      BEGIN
        SELECT @pendientes = COUNT(*) FROM stg.FlightsRaw_Dump WITH (NOLOCK);
        SET @elapsed_sec = DATEDIFF(SECOND, @t0, SYSUTCDATETIME());
        SET @rows_per_sec = CASE WHEN @elapsed_sec = 0 THEN NULL 
                                 ELSE @inserted_total * 1.0 / @elapsed_sec END;
        SET @eta_min = CASE WHEN @rows_per_sec IS NULL OR @rows_per_sec = 0 THEN NULL
                            ELSE (@pendientes / @rows_per_sec) / 60.0 END;

        SET @msg = N'Lote #' + CAST(@batch_no AS nvarchar(20))
                 + N' | Insertadas total: ' + FORMAT(@inserted_total,'N0')
                 + N' | Pendientes: ' + FORMAT(@pendientes,'N0')
                 + N' | Elapsed: ' + CAST(@elapsed_sec AS nvarchar(20)) + N's'
                 + N' | ETA: ' + ISNULL(CAST(@eta_min AS nvarchar(20)) + N' min', N'?');
        RAISERROR(@msg, 0, 1) WITH NOWAIT;
      END
    END TRY
    BEGIN CATCH
      IF XACT_STATE() <> 0 ROLLBACK;
      IF (@Verbose = 1)
      BEGIN
        SET @msg = N'ERROR lote #' + CAST(@batch_no AS nvarchar(20))
                 + N' | ' + CAST(ERROR_NUMBER() AS nvarchar(10))
                 + N' - ' + ERROR_MESSAGE();
        RAISERROR(@msg, 0, 1) WITH NOWAIT;
      END
      WAITFOR DELAY '00:00:02';
      SET @rows = 1; -- seguir
    END CATCH
  END

  IF (@Verbose = 1)
  BEGIN
      SET @elapsed_sec = DATEDIFF(SECOND, @t0, SYSUTCDATETIME());
      SET @msg = N'FIN | Total insertadas: ' + FORMAT(@inserted_total,'N0')
               + N' | Tiempo total: ' + CAST(@elapsed_sec AS nvarchar(20)) + N's';
      RAISERROR(@msg, 0, 1) WITH NOWAIT;
  END
END
GO
